/* Body text */
body {
    font-family: 'OpenSansRegular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Titles and large text */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Mangaka', sans-serif;
    margin: 0;
  }
  
  /* Bold text within body */
  strong {
    font-family: 'OpenSansMedium', sans-serif;
    font-weight: 500;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .flex-grow {
    flex-grow: 1;
  }
  